<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Flex-Box </title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header class="Header">
        <div class="Header__container">
             <div class="Header__avatar"> <img  src="img/avatar.png" alt="avatar-img"> 
            <p class="Header__name">JdMartínezR</p>
            </div>
            <nav class="Header__nav">
                <ul class="Header__menu">
                    <li><a class="Header__link" href="/index.html">Inicio</a></li>
                    <li><a class="Header__link" href="galeria.html">Galería</a></li>
                    <li><a class="Header__link" href="contacto.html">Contácto</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main class="Layout">

        <aside class="Layout__sidebar">

            <article class="Layout__card">
                <img class="Layout__card-image" src="/img/snake.png" alt="yellow-snake">
                <p class="Layout__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="Layout__card-button">Ver más</a>
            </article>

        </aside>
        <section class="Layout__content">
            <div class="Layout__content-title">
            <img class= "Layout__content-img" src="/img/cantacto.png" alt="galery-icon">
            <p>Contácto</p>
        </div>
        <div class="page-center">

  <div class="Layout__card-form">
    
    <form>
      <div class="row1">
        <div class="field">
          <label>Nombre:</label>
          <input type="text" placeholder="Your first name*">
        </div>

        <div class="field">
          <label>Apellido:</label>
          <input type="text" placeholder="Your last name*">
        </div>
      </div>

      <div class="row2">
        <div class="field">
          <label>Email:</label>
          <input type="email" placeholder="Your email address*">
        </div>
      </div>

      <div class="row3">
        <div class="field">
          <label>Número de teléfono:</label>
          <input type="tel" placeholder="Your contact no*">
        </div>
      </div>

      <div class="row4">
        <div class="field">
          <label>Fecha:</label>
          <input type="date">
        </div>

        <div class="field">
          <label>Hora:</label>
          <input type="time">
        </div>
      </div>

      <div class="row submit">
        <button type="submit" class="btn">
          Contáctanos
          <i class='bxr bx-play'></i>
        </button>
      </div>

    </form>
  </div>

</div>

        </section>
    </main>

      <footer class="Footer">
        <div class="Footer__columna">Columna1 </div>
        <div class="Footer__columna"> Columna 2</div>
        <div class="Footer__columna">Columna 3</div>

    </footer>
</body>

</html>