<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Flex-Box </title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header class="Header">
        <div class="Header__container">
             <div class="Header__avatar"> <img  src="../img/avatar.png" alt="avatar-img"> 
            <p class="Header__name">JdMartínezR</p>
            </div>
            <nav class="Header__nav">
                <ul class="Header__menu">
                                        <li><a class="Header__link" href="/index.html">Inicio</a></li>
                    <li><a class="Header__link" href="galeria.html">Galería</a></li>
                    <li><a class="Header__link" href="contacto.html">Contácto</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main class="Layout">

        <aside class="Layout__sidebar">

            <article class="Layout__card">
                <img class="Layout__card-image" src="../img/snake.png" alt="yellow-snake">
                <p class="Layout__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="Layout__card-button">Ver más</a>
            </article>

        </aside>
        <section class="Layout__content">
            <div class="Layout__content-title">
            <img class= "Layout__content-img" src="../img/galeria.png" alt="galery-icon">
            <p>Galería</p>
        </div>
            <div class="Layout__content-galery">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">
                <img class="Layout__content-card" src="../img/kid10.png">      
            </div>
        </section>
    </main>

        <footer class="Footer">
        <div class="Footer__columna">Columna1 </div>
        <div class="Footer__columna"> Columna 2</div>
        <div class="Footer__columna">Columna 3</div>

    </footer>
</body>

</html>