/* FORM */
form{
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

/* Filas */
.row1,
.row4{
  display: flex;
  gap: 20px;
}

.row2,
.row3{
  display: flex;
  flex-direction: column;
}

/* Cada campo */
.field{
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Labels */
label{
  margin-bottom: 6px;
  font-size: 14px;
}

/* Inputs */
input{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: rgb(233, 237, 241);
  height: 40px;
}

/* Botón */
.submit{
  display: flex;
  justify-content: center;
}

button.btn{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
}

/* Icono dentro del botón */
button.btn i{
  display: flex;
  align-items: center;
}
