* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: small;
    color: var()
}

.Header {
    
    height: 4rem;
    width: 100%;
    background-color: var(--color-grey-primary);
}

.Header__avatar{
    display: flex;
    align-items: center;  
    gap: 8px;  
    margin-right: 75%;
}


.Header__avatar img{
      width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.Header__name{
    margin: 0;
}
.Header__container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    justify-content: flex-end;
}

.Header__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.Header__nav {
    display: flex;
    justify-content: center;
}

.Header__link {
    text-decoration: none;
    color: var(--color-font-negative)
}