@import url(header.css);
@import url(variables.css);
@import url(sectionmain.css);
@import url(footer.css);
@import url(sidebar.css);
@import url(galery.css);
@import url(contacto.css);
@import url(precios.css);
@import url(tareas.css);