body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Layout{
  min-height: calc(100vh - 7rem);           
  display: flex;
}


.Layout__content{
  flex: 1;
  background: var(--color-light-background);
  padding: 1rem;
}

